body {
  background-color: #fefbd8;
}

h1 {
  background-color: #80ced6;
}

div {
  background-color: #d5f4e6;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 380px;
  margin-top: 15px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 90%;
  }
}
